Repository nea0d/k8s-homelab-flux, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore(container): update image ghcr.io/qdm12/gluetun to 7769408
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart reloader to 1.0.51
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
  kubernetes/apps/kube-system/reloader/helm-release.yaml
Labels: area/cluster

chore(container): update image ghcr.io/gameservermanagers/gameserver to 4ad67b4
  kubernetes/apps/gaming/cs2/app/helmrelease.yaml
Labels: area/cluster

chore(deps): update timheuer/base64-to-file digest to adaa40c
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart weave-gitops to 4.0.34
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/cluster

fix sops encrypted files
  debug/sops-mac-mismatch.sh
  kubernetes/apps/authentication/glauth/app/config/groups.sops.toml
  kubernetes/apps/authentication/glauth/app/config/server.sops.toml
  kubernetes/apps/authentication/glauth/app/config/users.sops.toml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/monitoring/thanos/app/secret.sops.yaml
Labels: area/cluster

update qbittorrent conf
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

working on a fix
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

fix
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

still fixing
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

fixfixfix
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

last one ?
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

fix
  kubernetes/apps/nzb/qbittorrent/app/config/dnsdist.conf
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

chore(deps): update ansible to 8.6.1
  requirements.txt
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.717
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

feat(helm): update chart redis to 18.3.2
  kubernetes/apps/databases/redis/app/helmrelease.yaml
Labels: area/cluster

update prometheus conf
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-state-metrics/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/node-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/node-exporter/ks.yaml
Labels: area/cluster

feat(helm): update chart kube-state-metrics to 5.15.1
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/cluster

update unpoller
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/apps/monitoring/unpoller/app/kustomization.yaml
  kubernetes/apps/monitoring/unpoller/ks.yaml
Labels: area/cluster

feat(helm): update chart thanos to 12.15.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/cluster

prometheus conf + pve-exporter
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/prometheusrules/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/prometheusrules/prometheusrule.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/funkstation.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kube-vip.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/prometheus-pve-exporter.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  kubernetes/apps/monitoring/prometheus-pve-exporter/app/helmrelease.yaml
  kubernetes/apps/monitoring/prometheus-pve-exporter/app/kustomization.yaml
  kubernetes/apps/monitoring/prometheus-pve-exporter/app/secret.sops.yaml
  kubernetes/apps/monitoring/prometheus-pve-exporter/ks.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/cluster

fix secret
  kubernetes/apps/monitoring/prometheus-pve-exporter/app/secret.sops.yaml
Labels: area/cluster

update scrapeconfig
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/prometheus-pve-exporter.yaml
Labels: area/cluster

prometheus-pve-exporter conf
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/prometheus-pve-exporter.yaml
  kubernetes/apps/monitoring/prometheus-pve-exporter/app/helmrelease.yaml
Labels: area/cluster

update scrapeconfig
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/prometheus-pve-exporter.yaml
Labels: area/cluster

scrapeconfig
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/prometheus-pve-exporter.yaml
Labels: area/cluster

update secret
  kubernetes/apps/monitoring/prometheus-pve-exporter/app/secret.sops.yaml
Labels: area/cluster

update scrapeconfig
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/prometheus-pve-exporter.yaml
Labels: area/cluster

archive influxdb (was only used for proxmox => replaced by prometheus-pve-exporter)
  archive/cluster/apps/monitoring/influxdb/app/grafana-datasource.yaml
  archive/cluster/apps/monitoring/influxdb/app/helmrelease.yaml
  archive/cluster/apps/monitoring/influxdb/app/kustomization.yaml
  archive/cluster/apps/monitoring/influxdb/app/proxmox-ve-dashboard.json
  archive/cluster/apps/monitoring/influxdb/app/secret.sops.yaml
  archive/cluster/apps/monitoring/influxdb/ks.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.2
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/cluster

update thanos conf
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/vpa/app/helmrelease.yaml
Labels: area/cluster

rollback home-assistant update
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/cluster

fix grafana conf
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/cluster

update home-assistant conf
  kubernetes/apps/home/home-assistant/app/backups/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/backups/replicationsource.yaml
  kubernetes/apps/home/home-assistant/app/backups/secret.sops.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/patches/addons.yaml
  kubernetes/apps/home/home-assistant/app/pvc.yaml
  kubernetes/apps/home/home-assistant/code/helmrelease.yaml
  kubernetes/apps/home/home-assistant/code/kustomization.yaml
  kubernetes/apps/home/home-assistant/ks.yaml
Labels: area/cluster

add ceph-filesystem storageclass for home-assistant
  kubernetes/apps/home/home-assistant/app/pvc.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.2
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/cluster

fix homeassistant restic backup conf
  kubernetes/apps/home/home-assistant/app/backups/replicationsource.yaml
Labels: area/cluster

update ceph params
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/cluster

fix hass conf
  kubernetes/apps/home/home-assistant/ks.yaml
Labels: area/cluster

fix hass conf
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/cluster
