Repository nea0d/k8s-homelab-flux, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 3440cfa
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

add rook module
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/cluster

update github deploy key
  kubernetes/bootstrap/flux/github-deploy-key.sops.yaml
Labels: area/cluster

add node-feature-discovery
  kubernetes/apps/gpu-operator/gpu-operator/app/helmrelease.yaml
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
Labels: area/cluster

update conf
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
Labels: area/cluster

fix typo
  kubernetes/flux/repositories/helm/node-feature-discovery.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.3.3791
  kubernetes/apps/nzb/lidarr/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.4.4088
  kubernetes/apps/nzb/prowlarr/app/helmrelease.yaml
Labels: area/cluster

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.1.8276
  kubernetes/apps/nzb/radarr/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.728
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.729
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.2.8288
  kubernetes/apps/nzb/radarr/app/helmrelease.yaml
Labels: area/cluster

feat(github-action): update allenporter/flux-local action to 3.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

fix(github-release): update local-path-provisioner to v0.0.25
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.731
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.8
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/cluster

feat(helm): update chart thanos to 12.16.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.1
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.37.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to v15
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/teslamate/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/cluster

chore(deps): update ansible to 9.0.0
  requirements.txt
Labels: none

fix(container): update image ghcr.io/buroa/qbtools to v0.10.1
  kubernetes/apps/nzb/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/nzb/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/nzb/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/cluster

chore(deps): update ansible to 9.0.1
  requirements.txt
Labels: none

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-2
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/cluster

fix(helm): update chart thanos to 12.16.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/cluster

feat(helm): update chart kube-prometheus-stack to 54.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 54.2.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart weave-gitops to 4.0.35
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.3
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.38.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-3
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/cluster

chore(deps): roll back chart thanos to 12.15.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/qdm12/gluetun to 856034e
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/qdm12/gluetun to 7cfc31b
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart kube-prometheus-stack to 54.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-4
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 5166f13
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/gameservermanagers/gameserver to ce73581
  kubernetes/apps/gaming/cs2/app/helmrelease.yaml
Labels: area/cluster

feat(container): update image teslamate/teslamate to v1.28.0
  kubernetes/apps/home/teslamate/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.733
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
