Repository nea0d/k8s-homelab-flux, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to b15da2d
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.4.3802
  kubernetes/apps/nzb/lidarr/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.3.8303
  kubernetes/apps/nzb/radarr/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image teslamate/teslamate to v1.28.1
  kubernetes/apps/home/teslamate/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/sabnzbd to f2f3971
  kubernetes/apps/nzb/sabnzbd/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.5.4116
  kubernetes/apps/nzb/prowlarr/app/helmrelease.yaml
Labels: area/cluster

feat(container): update image docker.io/snoringdragon/gluetun-qbittorrent-port-manager to v1.3
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

trying ssh connection to github over https port becuase of timeouts
  kubernetes/flux/config/cluster.yaml
Labels: area/cluster

Revert "trying ssh connection to github over https port becuase of timeouts"
  kubernetes/flux/config/cluster.yaml
Labels: area/cluster

update alerts
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
Labels: area/cluster

update fluxcd alerts
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
Labels: area/cluster

delete interval field for alerts
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
Labels: area/cluster

feat(github-action): update tj-actions/changed-files action to v40.2.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart snapshot-controller to 2.0.3
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/cluster

update thanos conf in prometheus
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image teslamate/teslamate to v1.28.2
  kubernetes/apps/home/teslamate/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.9
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/cluster

fix(github-action): update renovatebot/github-action action to v39.1.4
  .github/workflows/renovate.yaml
Labels: area/github

fix(github-release): update rancher/system-upgrade-controller to v0.13.2
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.2
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/qdm12/gluetun to c8f61c8
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

chore(deps): update bcrypt to 4.1.1
  requirements.txt
Labels: none

feat(terraform): update terraform cloudflare to 4.20.0
  terraform/cloudflare/.terraform.lock.hcl
  terraform/cloudflare/main.tf
Labels: none

fix(helm): update chart grafana to 7.0.10
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart grafana to 7.0.11
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/cluster

feat(helm): update chart loki to 5.39.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/cluster

chore(deps): update ansible-lint to 6.22.1
  requirements.txt
Labels: none

fix(helm): update chart descheduler to 0.28.1
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart coredns to 1.28.2
  ansible/kubernetes/playbooks/templates/custom-coredns-helmchart.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/coder/code-server to v4.19.1
  kubernetes/apps/home/home-assistant/code/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 135e9cd
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

feat(container): update image quay.io/oriedge/k8s_gateway to v0.4.0
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 6782488
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

update alert exlcusion list
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
Labels: area/cluster

swich to default wildcard cert
  kubernetes/apps/databases/redis/lb/helmrelease.yaml
Labels: area/cluster

delete secretnames for tls secrets (swich to wildcard cert)
  kubernetes/apps/authentication/authelia/app/helmrelease.yaml
  kubernetes/apps/databases/redis/lb/helmrelease.yaml
  kubernetes/apps/default/echo-server/app/helmrelease.yaml
  kubernetes/apps/default/hajimari/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/webhooks/github/ingress.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/gaming/cs2/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/mealie/app/helmrelease.yaml
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kubernetes-dashboard/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/networking/external-services/minio.yaml
  kubernetes/apps/networking/external-services/nas01.yaml
  kubernetes/apps/networking/external-services/pbs.yaml
  kubernetes/apps/networking/external-services/pve.yaml
  kubernetes/apps/networking/external-services/unifi.yaml
  kubernetes/apps/nzb/lidarr/app/helmrelease.yaml
  kubernetes/apps/nzb/organizr/app/helmrelease.yaml
  kubernetes/apps/nzb/overseerr/app/helmrelease.yaml
  kubernetes/apps/nzb/prowlarr/app/helmrelease.yaml
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/nzb/radarr/app/helmrelease.yaml
  kubernetes/apps/nzb/readarr/app/helmrelease.yaml
  kubernetes/apps/nzb/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/cluster

fix(helm): update rook-ceph group to v1.12.9
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/alpine to v3.18.5
  .taskfiles/VolSync/WipeJob.tmpl.yaml
Labels: none

update readme
  README.md
Labels: none

update readme
  README.md
Labels: none
