Repository nea0d/k8s-homelab-flux, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

update cnpg cluster
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

cnpg: decrease maxparallel to 4
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

Revert "deploy k8s-digester"
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/authentication/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/databases/namespace.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/dev/namespace.yaml
  kubernetes/apps/digester-system/k8s-digester/ks.yaml
  kubernetes/apps/digester-system/kustomization.yaml
  kubernetes/apps/digester-system/namespace.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/gaming/namespace.yaml
  kubernetes/apps/gpu-operator/namespace.yaml
  kubernetes/apps/home/namespace.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/nzb/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/storage/namespace.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/flux/repositories/git/k8s-digester.yaml
  kubernetes/flux/repositories/git/kustomization.yaml
Labels: area/cluster

update sonarr
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
  kubernetes/apps/nzb/sonarr/app/kustomization.yaml
  kubernetes/apps/nzb/sonarr/app/secret.sops.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

fix cnpg service poiting to old cluster
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to d4c47cb
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/sonarr-develop to f2040da
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

rollback sonarr to apptemplate 1.5.1
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

update sonarr to AppTemplate 2.3.0 + moveover to postgresql
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

update radarr to apptemplate 2.3.0 and move db to postgresql
  kubernetes/apps/nzb/radarr/app/helmrelease.yaml
  kubernetes/apps/nzb/radarr/app/kustomization.yaml
  kubernetes/apps/nzb/radarr/app/pvc.yaml
  kubernetes/apps/nzb/radarr/app/secret.sops.yaml
  kubernetes/apps/nzb/radarr/ks.yaml
Labels: area/cluster

#fix: missing radarr secrets
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

#fix: radarr ingress domain name
  kubernetes/apps/nzb/radarr/app/helmrelease.yaml
Labels: area/cluster

#feat. : update readarr to AppTemplate 2.3.0 and moveover db to postgresql
  kubernetes/apps/nzb/readarr/app/helmrelease.yaml
  kubernetes/apps/nzb/readarr/app/kustomization.yaml
  kubernetes/apps/nzb/readarr/app/pvc.yaml
  kubernetes/apps/nzb/readarr/app/secret.sops.yaml
  kubernetes/apps/nzb/readarr/ks.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

#fix: update sonarr conf
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
  kubernetes/apps/nzb/sonarr/ks.yaml
Labels: area/cluster

#fix: fixing issue in readarr
  kubernetes/apps/nzb/readarr/app/helmrelease.yaml
Labels: area/cluster

update readarr
  kubernetes/apps/nzb/readarr/app/helmrelease.yaml
Labels: area/cluster

#fix: update readarr conf
  kubernetes/apps/nzb/readarr/app/secret.sops.yaml
Labels: area/cluster

#fix: disable authentication method for readarr
  kubernetes/apps/nzb/readarr/app/helmrelease.yaml
Labels: area/cluster

#feat.: update lidarr to AppTemplate 2.3.0 and move db to postgresql
  kubernetes/apps/nzb/lidarr/app/helmrelease.yaml
  kubernetes/apps/nzb/lidarr/app/kustomization.yaml
  kubernetes/apps/nzb/lidarr/app/pvc.yaml
  kubernetes/apps/nzb/lidarr/app/secret.sops.yaml
  kubernetes/apps/nzb/lidarr/ks.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

feat(github-action)!: Update actions/labeler action to v5.0.0
  .github/workflows/meta-labeler.yaml
Labels: area/github

#feat: update prowlarr to AppTemplate 2.3.0 and move db to postgresql
  kubernetes/apps/nzb/prowlarr/app/backups/kustomization.yaml
  kubernetes/apps/nzb/prowlarr/app/backups/replicationsource.yaml
  kubernetes/apps/nzb/prowlarr/app/backups/secret.sops.yaml
  kubernetes/apps/nzb/prowlarr/app/helmrelease.yaml
  kubernetes/apps/nzb/prowlarr/app/kustomization.yaml
  kubernetes/apps/nzb/prowlarr/app/pvc.yaml
  kubernetes/apps/nzb/prowlarr/app/secret.sops.yaml
  kubernetes/apps/nzb/prowlarr/ks.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

cleanup
  kubernetes/apps/nzb/lidarr/app/backups/kustomization.yaml
  kubernetes/apps/nzb/lidarr/app/backups/replicationsource.yaml
  kubernetes/apps/nzb/lidarr/app/backups/secret.sops.yaml
  kubernetes/apps/nzb/lidarr/app/kustomization.yaml
  kubernetes/apps/nzb/radarr/app/backups/kustomization.yaml
  kubernetes/apps/nzb/radarr/app/backups/replicationsource.yaml
  kubernetes/apps/nzb/radarr/app/backups/secret.sops.yaml
  kubernetes/apps/nzb/radarr/app/kustomization.yaml
  kubernetes/apps/nzb/readarr/app/backups/kustomization.yaml
  kubernetes/apps/nzb/readarr/app/backups/replicationsource.yaml
  kubernetes/apps/nzb/readarr/app/backups/secret.sops.yaml
  kubernetes/apps/nzb/readarr/app/kustomization.yaml
  kubernetes/apps/nzb/sonarr/app/backups/kustomization.yaml
  kubernetes/apps/nzb/sonarr/app/backups/replicationsource.yaml
  kubernetes/apps/nzb/sonarr/app/backups/secret.sops.yaml
  kubernetes/apps/nzb/sonarr/app/kustomization.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to f17cfe0
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

feat(github-action): update renovatebot/github-action action to v39.2.0
  .github/workflows/renovate.yaml
Labels: area/github

chore(deps): update ansible to 9.1.0
  requirements.txt
Labels: none

fix(container): update image ghcr.io/onedr0p/plex to v1.32.8.7639-fb6452ebf
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/tautulli to v2.13.3
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/cluster

feat(container): update image public.ecr.aws/docker/library/haproxy to v2.9.0
  kubernetes/apps/databases/redis/lb/helmrelease.yaml
Labels: area/cluster
