Repository nea0d/k8s-homelab-flux, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"

fix(ansible): update community.sops to 1.6.7
  requirements.yaml
Labels: none

feat(ansible): update ansible.utils to 2.12.0
  requirements.yaml
Labels: none

feat(ansible): update community.general to 7.5.1
  requirements.yaml
Labels: none

feat(ansible)!: Update community.general to 8.0.2
  requirements.yaml
Labels: none

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to c651144
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/gameservermanagers/gameserver to 3530a7d
  kubernetes/apps/gaming/cs2/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart ingress-nginx to 4.8.4
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
Labels: area/cluster

update helm repos
  kubernetes/apps/gpu-operator/gpu-operator/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/actions-runner-controller.yaml
  kubernetes/flux/repositories/helm/backube.yaml
  kubernetes/flux/repositories/helm/bitnami.yaml
  kubernetes/flux/repositories/helm/bjw-s.yaml
  kubernetes/flux/repositories/helm/cilium.yaml
  kubernetes/flux/repositories/helm/cloudnative-pg.yaml
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/descheduler.yaml
  kubernetes/flux/repositories/helm/external-dns.yaml
  kubernetes/flux/repositories/helm/external-secrets.yaml
  kubernetes/flux/repositories/helm/fairwinds.yaml
  kubernetes/flux/repositories/helm/gpu-operator.yaml
  kubernetes/flux/repositories/helm/grafana.yaml
  kubernetes/flux/repositories/helm/hajimari.yaml
  kubernetes/flux/repositories/helm/ingress-nginx.yaml
  kubernetes/flux/repositories/helm/jetstack.yaml
  kubernetes/flux/repositories/helm/k8s-gateway.yaml
  kubernetes/flux/repositories/helm/kubernetes-dashboard.yaml
  kubernetes/flux/repositories/helm/metrics-server.yaml
  kubernetes/flux/repositories/helm/nfs-subdir-external-provisioner.yaml
  kubernetes/flux/repositories/helm/piraeus.yaml
  kubernetes/flux/repositories/helm/prometheus-community.yaml
  kubernetes/flux/repositories/helm/rook-ceph.yaml
  kubernetes/flux/repositories/helm/stakater.yaml
  kubernetes/flux/repositories/helm/weave-gitops.yaml
Labels: area/cluster

deploy k8s-digester
  kubernetes/apps/actions-runner-system/namespace.yaml
  kubernetes/apps/authentication/namespace.yaml
  kubernetes/apps/cert-manager/namespace.yaml
  kubernetes/apps/databases/namespace.yaml
  kubernetes/apps/default/namespace.yaml
  kubernetes/apps/dev/namespace.yaml
  kubernetes/apps/digester-system/k8s-digester/ks.yaml
  kubernetes/apps/digester-system/kustomization.yaml
  kubernetes/apps/digester-system/namespace.yaml
  kubernetes/apps/flux-system/namespace.yaml
  kubernetes/apps/gaming/namespace.yaml
  kubernetes/apps/gpu-operator/namespace.yaml
  kubernetes/apps/home/namespace.yaml
  kubernetes/apps/kube-system/namespace.yaml
  kubernetes/apps/media/namespace.yaml
  kubernetes/apps/monitoring/namespace.yaml
  kubernetes/apps/networking/namespace.yaml
  kubernetes/apps/nzb/namespace.yaml
  kubernetes/apps/rook-ceph/namespace.yaml
  kubernetes/apps/storage/namespace.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
  kubernetes/flux/repositories/git/k8s-digester.yaml
Labels: area/cluster

fix: use native helm values for dns01 config
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/cluster

update sonarr conf
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
  kubernetes/apps/nzb/sonarr/app/kustomization.yaml
  kubernetes/apps/nzb/sonarr/app/secret.sops.yaml
  kubernetes/apps/nzb/sonarr/ks.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

update sonarr pvc
  kubernetes/apps/nzb/sonarr/app/backups/replicationsource.yaml
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
  kubernetes/apps/nzb/sonarr/app/pvc.yaml
Labels: area/cluster

Revert "update sonarr pvc"
  kubernetes/apps/nzb/sonarr/app/backups/replicationsource.yaml
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
  kubernetes/apps/nzb/sonarr/app/pvc.yaml
Labels: area/cluster

Revert "update sonarr conf"
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
  kubernetes/apps/nzb/sonarr/app/kustomization.yaml
  kubernetes/apps/nzb/sonarr/app/secret.sops.yaml
  kubernetes/apps/nzb/sonarr/ks.yaml
  kubernetes/flux/vars/cluster-secrets.sops.yaml
Labels: area/cluster

move pvc to ceph-filesystem
  kubernetes/apps/nzb/sonarr/app/backups/replicationsource.yaml
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
  kubernetes/apps/nzb/sonarr/app/pvc.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 3d94c6a
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-5
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/cluster

fix(github-release): update local-path-provisioner to v0.0.26
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/cluster

feat(helm)!: Update chart kube-prometheus-stack to 55.0.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.4
  ansible/kubernetes/playbooks/templates/kube-vip-static-pod.yaml.j2
Labels: none

chore(container): update image ghcr.io/onedr0p/home-assistant to 7f07787
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 0205e00
  kubernetes/apps/nzb/prowlarr/app/helmrelease.yaml
Labels: area/cluster

Revert "fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-5"
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/cluster

update + restore cnpg db
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/qbittorrent to ab8cc91
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/radarr-develop to 7794a25
  kubernetes/apps/nzb/radarr/app/helmrelease.yaml
Labels: area/cluster

rollback to cnpg 16.1-4
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

gitops: disable oidc auth
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/cluster

Revert "fix(github-release): update local-path-provisioner to v0.0.26"
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/cluster

fix cnpg backups
  kubernetes/apps/databases/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/readarr-nightly to 77e7b2e
  kubernetes/apps/nzb/readarr/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/sabnzbd to 7d2eef3
  kubernetes/apps/nzb/sabnzbd/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/sonarr-develop to f2040da
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/onedr0p/tautulli to 932a327
  kubernetes/apps/media/tautulli/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/gameservermanagers/gameserver to ad1925e
  kubernetes/apps/gaming/cs2/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/buroa/qbtools to v0.10.2
  kubernetes/apps/nzb/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/nzb/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/nzb/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v16.1-6
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.5.3813
  kubernetes/apps/nzb/lidarr/app/helmrelease.yaml
Labels: area/cluster

fix(github-release): update local-path-provisioner to v0.0.26
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v40.2.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github
