Repository nea0d/k8s-homelab-flux, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix conf
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
Labels: area/cluster

fix hass-code ingress
  kubernetes/apps/home/home-assistant/code/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.719
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

chore(container): update image ghcr.io/gameservermanagers/gameserver to 84579d7
  kubernetes/apps/gaming/cs2/app/helmrelease.yaml
Labels: area/cluster

archive vpa and goldilocks
  archive/cluster/apps/monitoring/goldilocks/app/helmrelease.yaml
  archive/cluster/apps/monitoring/goldilocks/app/kustomization.yaml
  archive/cluster/apps/monitoring/goldilocks/ks.yaml
  archive/cluster/apps/monitoring/vpa/app/helmrelease.yaml
  archive/cluster/apps/monitoring/vpa/app/kustomization.yaml
  archive/cluster/apps/monitoring/vpa/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/cluster

fix flux diff folder
  .github/workflows/flux-diff.yaml
Labels: area/github

update renovate bot conf
  .github/renovate.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
Labels: area/github

update gh workflows
  .github/scripts/cloudflareNetworks.mjs
  .github/scripts/helmReleaseDiff.mjs
  .github/scripts/kubeconform.sh
  .github/workflows/kubeconform.yaml
  .github/workflows/publish-cloudflare-networks.yaml
  kubernetes/apps/networking/ingress-nginx/external/cloudflare-networks.txt
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/kustomization.yaml
Labels: area/github, area/cluster

update cluster to v1.28.3+k3s2 (was skipping 1.28.3+k3s1 because of : https://github.com/k3s-io/k3s/issues/8754)
  ansible/kubernetes/inventory/group_vars/all/main.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

bootstrap postgres v16 cluster from current v14 cluster
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
Labels: area/cluster

fix namespace name
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.720
  kubernetes/apps/nzb/sonarr/app/helmrelease.yaml
Labels: area/cluster

switching to another teslamate image while waiting for fix (https://github.com/teslamate-org/teslamate/discussions/3370)
  kubernetes/apps/home/teslamate/app/helmrelease.yaml
Labels: area/cluster

switch to postgresql 16
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
Labels: area/cluster

critical addons only on master nodes
  ansible/kubernetes/inventory/group_vars/master/k3s.yaml
Labels: none

update vector conf
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.3.8246
  kubernetes/apps/nzb/radarr/app/helmrelease.yaml
Labels: area/cluster

fix(helm): update chart kube-state-metrics to 5.15.2
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.2.4064
  kubernetes/apps/nzb/prowlarr/app/helmrelease.yaml
Labels: area/cluster

feat(helm)!: Update chart kube-prometheus-stack to 53.0.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.2.3782
  kubernetes/apps/nzb/lidarr/app/helmrelease.yaml
Labels: area/cluster

update loki conf
  kubernetes/apps/monitoring/loki/app/configmap.yaml
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/rules/loki-alerting-rules.yaml
  kubernetes/apps/monitoring/loki/ks.yaml
Labels: area/cluster

update prometheus conf
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/ks.yaml
Labels: area/cluster

update thanos conf
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/ks.yaml
Labels: area/cluster

fix kustomize
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
Labels: area/cluster

update cpu requests:limits
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/home/mealie/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/cluster

add kubernetes-schemas
  kubernetes/apps/dev/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/dev/kubernetes-schemas/app/kustomization.yaml
  kubernetes/apps/dev/kubernetes-schemas/ks.yaml
  kubernetes/apps/dev/kustomization.yaml
  kubernetes/apps/dev/namespace.yaml
Labels: area/cluster

add goldilocks back
  kubernetes/apps/monitoring/goldilocks/app/helmrelease.yaml
  kubernetes/apps/monitoring/goldilocks/app/kustomization.yaml
  kubernetes/apps/monitoring/goldilocks/ks.yaml
  kubernetes/apps/monitoring/kustomization.yaml
Labels: area/cluster

delete vpa dependency : included as sub-chart
  kubernetes/apps/monitoring/goldilocks/ks.yaml
Labels: area/cluster

fixing typos
  kubernetes/apps/gaming/cs2/app/helmrelease.yaml
  kubernetes/apps/gpu-operator/gpu-operator/app/helmrelease.yaml
  kubernetes/apps/home/mealie/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/cluster

rook-ceph : adjusting cpu/memory requests/limits
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/cluster

update home-assistant and teslamate conf
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/kustomization.yaml
  kubernetes/apps/home/home-assistant/app/secret.sops.yaml
  kubernetes/apps/home/home-assistant/code/helmrelease.yaml
  kubernetes/apps/home/teslamate/app/helmrelease.yaml
  kubernetes/apps/home/teslamate/app/kustomization.yaml
  kubernetes/apps/home/teslamate/app/secret.sops.yaml
  kubernetes/apps/home/teslamate/ks.yaml
Labels: area/cluster

update teslamate conf
  kubernetes/apps/home/teslamate/app/helmrelease.yaml
Labels: area/cluster

ansible : taint master nodes
  ansible/kubernetes/inventory/group_vars/master/k3s.yaml
Labels: none

weave-gitops oidc auth
  kubernetes/apps/authentication/authelia/app/config/configuration.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/cluster

fix typos
  kubernetes/apps/flux-system/addons/notifications/alert-manager/notification.yaml
  kubernetes/apps/flux-system/addons/notifications/github/notification.yaml
Labels: area/cluster

weave-gitops
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/cluster

update schema
  kubernetes/apps/media/plex/app/backups/replicationsource.yaml
Labels: area/cluster

conf
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/cluster

update oidc conf for weave
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/cluster

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
