Repository nea0d/k8s-homelab-flux, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/cluster, area/terraform

fix(helm): update chart loki to 5.36.3
  cluster/apps/monitoring/loki/app/helmrelease.yaml
Labels: none

fix revamp
  .gitattributes
  .github/renovate.json5
  .sourceignore
  .taskfiles/Ansible/Tasks.yaml
  .taskfiles/ExternalSecrets/Tasks.yaml
  .taskfiles/Flux/Tasks.yaml
  .taskfiles/Kubernetes/Tasks.yaml
  .taskfiles/VolSync/Tasks.yaml
  .vscode/settings.json
  README.md
  Taskfile.yaml
  ansible/kubernetes/playbooks/cluster-installation.yaml
  ansible/kubernetes/playbooks/cluster-nuke.yaml
  ansible/kubernetes/playbooks/cluster-prepare.yaml
  ansible/kubernetes/playbooks/cluster-update-rollout.yaml
  archive/cluster/apps/storage/minio/tenant/secret.sops.yaml
  kubernetes/apps/authentication/authelia/app/helmrelease.yaml
  kubernetes/apps/authentication/authelia/app/kustomization.yaml
  kubernetes/apps/authentication/glauth/app/config/groups.sops.toml
  kubernetes/apps/authentication/glauth/app/config/server.sops.toml
  kubernetes/apps/authentication/glauth/app/config/users.sops.toml
  kubernetes/apps/monitoring/grafana/app/secret.sops.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/secret.sops.yaml
Labels: area/github, area/cluster

add ansible reboot to tasks
  .taskfiles/Ansible/Tasks.yaml
Labels: none

fix .yml to .yaml
  ansible/kubernetes/inventory/group_vars/master/k3s.yaml
  ansible/kubernetes/inventory/group_vars/worker/k3s.yaml
  ansible/kubernetes/inventory/group_vars/worker/volume-storage.yaml
  ansible/kubernetes/inventory/hosts.yaml
  kubernetes/apps/authentication/authelia/app/config/configuration.yaml
Labels: area/cluster

update revamp
  .taskfiles/Ansible/Tasks.yaml
  ansible/kubernetes/inventory/host_vars/k8s-master01.sops.yaml
  ansible/kubernetes/inventory/host_vars/k8s-master02.sops.yaml
  ansible/kubernetes/inventory/host_vars/k8s-master03.sops.yaml
  ansible/kubernetes/inventory/host_vars/k8s-worker01.sops.yaml
  ansible/kubernetes/inventory/host_vars/k8s-worker02.sops.yaml
  ansible/kubernetes/inventory/host_vars/k8s-worker03.sops.yaml
  ansible/kubernetes/inventory/hosts.yaml
  ansible/kubernetes/playbooks/cluster-prepare.yaml
  ansible/kubernetes/playbooks/cluster-reboot.yaml
Labels: none

temporarily disable external-secrets
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

add ceph cluster reset task
  .taskfiles/Ansible/Tasks.yaml
Labels: none

restore cnpg upon cluster reset
  kubernetes/apps/databases/cloudnative-pg/cluster/cluster.yaml
Labels: area/cluster

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.1
  cluster/apps/home/home-assistant/app/helmrelease.yaml
Labels: none

revamp adjustments
  .taskfiles/Ansible/Tasks.yaml
  ansible/kubernetes/inventory/group_vars/all/main.yaml
  ansible/kubernetes/inventory/group_vars/worker/volume-storage.yaml
  ansible/kubernetes/playbooks/cluster-installation.yaml
  ansible/kubernetes/playbooks/cluster-prepare.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

fix fish greetings
  ansible/kubernetes/playbooks/cluster-prepare.yaml
Labels: none

feat(github-action): update micalevisk/last-issue-action action to v2.2.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(container): update image ghcr.io/onedr0p/lidarr-develop to v2.0.1.3769
  cluster/apps/nzb/lidarr/app/helmrelease.yaml
Labels: none

fix(helm): update chart redis to 18.2.1
  cluster/apps/databases/redis/app/helmrelease.yaml
Labels: none

chore(container): update image ghcr.io/gameservermanagers/gameserver to eac3b1d
  cluster/apps/gaming/cs2/app/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/unpoller/unpoller to v2.9.4
  kubernetes/apps/monitoring/unifi-poller/app/helmrelease.yaml
Labels: area/cluster

feat(github-release): update k3s-io/k3s to v1.28.3+k3s1
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/cluster

fix kustomize conf
  kubernetes/flux/config/home-kubernetes.yaml
Labels: area/cluster

fix flux conf
  kubernetes/bootstrap/flux/age-key.sops.yaml
  kubernetes/bootstrap/flux/github-deploy-key.sops.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/bootstrap/kustomization.yaml
  kubernetes/bootstrap/readme.md
  kubernetes/flux/config/cluster.yaml
  kubernetes/flux/config/flux-installation.yaml
  kubernetes/flux/config/flux.yaml
  kubernetes/flux/config/kustomization.yaml
Labels: area/cluster

fix flux conf
  kubernetes/bootstrap/readme.md
  kubernetes/flux/apps.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/cluster

update cilium conf
  kubernetes/apps/kube-system/cilium/app/cilium-l2.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
Labels: area/cluster

archive kube-vip
  archive/cluster/apps/kube-system/kube-vip/daemonset.yaml
  archive/cluster/apps/kube-system/kube-vip/kustomization.yaml
  archive/cluster/apps/kube-system/kube-vip/rbac.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

add coredns
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

add descheduler
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/kustomization.yaml
Labels: area/cluster

add missing repos
  kubernetes/flux/repositories/helm/coredns.yaml
  kubernetes/flux/repositories/helm/descheduler.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/cluster

archiving metallb (replaced by cilium)
  archive/cluster/apps/networking/metallb/app/helmrelease.yaml
  archive/cluster/apps/networking/metallb/app/kustomization.yaml
  archive/cluster/apps/networking/metallb/ks.yaml
  archive/cluster/apps/networking/metallb/resources/ipaddresspool.yaml
  archive/cluster/apps/networking/metallb/resources/kustomization.yaml
  kubernetes/apps/networking/kustomization.yaml
Labels: area/cluster

update cilium l2 conf
  ansible/kubernetes/playbooks/templates/custom-cilium-l2.yaml.j2
Labels: none

update qbittorrent conf
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

fix qbittorrent conf
  kubernetes/apps/nzb/qbittorrent/app/helmrelease.yaml
Labels: area/cluster

chore(deps): update ansible to 8.6.0
  requirements.txt
Labels: none

chore(deps): update ansible-lint to 6.22.0
  requirements.txt
Labels: none

fix(github-action): update micalevisk/last-issue-action action to v2.2.1
  .github/workflows/broken-link-check.yaml
Labels: area/github

feat(helm): update chart vector to 0.28.0
  kubernetes/apps/monitoring/vector/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
Labels: area/cluster

switch LB2 conf to cilium
  .sops.yaml
  .vscode/settings.json
  README.md
  kubernetes/apps/databases/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/databases/redis/lb/helmrelease.yaml
  kubernetes/apps/gaming/cs2/app/helmrelease.yaml
  kubernetes/apps/home/home-assistant/app/helmrelease.yaml
  kubernetes/apps/media/plex/app/helmrelease.yaml
  kubernetes/apps/monitoring/influxdb/app/helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/aggregator/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/external/helmrelease.yaml
  kubernetes/apps/networking/ingress-nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/k8s-gateway/app/helmrelease.yaml
  kubernetes/flux/vars/cluster-settings.yaml
Labels: area/cluster

fix
  debug/sops-mac-mismatch.sh
Labels: none

fix typo
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/cluster

fix deployment type
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/cluster

fix type to replicaset
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/cluster

plex fix
  kubernetes/apps/media/plex/app/helmrelease.yaml
Labels: area/cluster

fix(github-action): update tj-actions/changed-files action to v40.1.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "provision/ansible/**/*"
area/github:
  - ".github/**/*"
area/cluster:
  - "kubernetes/**/*"
area/terraform:
  - "provision/terraform/**/*"
